name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt,clippy
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace --all-features -- -D warnings
      - run: cargo build --workspace --all-features
      - run: cargo test --workspace --all-features
